---
import { db, Comment } from "astro:db"


const comments = await db.select().from(Comment);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		{
			comments.map( (comment)  =>{
				<article>
					<h6>{comment.id}</h6>
					<p>{comment.content}</p>
				</article>
			})
		}
	</body>
</html>
